@mixin label {
  display: block;
  font-size: 1.5rem;
  color: white;
  padding: 1rem;
  background-color: #005aff;
}

@mixin rich-text {
  border: 1px solid lightgrey;
  padding: 0.5rem;
}

:host {
  padding: 4rem;
  display: grid;
  grid-template-areas: 'editor editor' 'arrow arrow' 'default-rich-text custom-rich-text';
  row-gap: 1rem;
  column-gap: 2rem;
}

json-editor {
  grid-area: editor;

  &::before {
    @include label;
    content: '↓ Rich text JSON editor';
  }
}

demo-default-rich-text {
  grid-area: default-rich-text;
  @include rich-text;

  &::before {
    @include label;
    content: '↓ Default rich text preview';
  }
}

demo-custom-rich-text {
  grid-area: custom-rich-text;
  @include rich-text;

  &::before {
    @include label;
    content: '↓ Custom rich text preview';
  }
}

.arrow {
  grid-area: arrow;
  font-size: 8rem;
  color: #005aff;
  text-align: center;
  font-weight: bold;
}
