<div [cfRichTextDocument]="document">
  <figure *cfRichTextNode="BLOCKS.EMBEDDED_ASSET; let node = node">
    <img
      [src]="node.data.target.fields.file.url"
      [alt]="node.data.target.fields.title"
      />
    @if (node.data.target.fields.description; as caption) {
      <figcaption>
        {{ caption }}
      </figcaption>
    }
  </figure>

  <ng-container *cfRichTextMark="MARKS.CODE; let node = node">
    @if (node.value.includes('\n')) {
      <pre><code class="hljs" [innerHTML]="node.value | highlightjs:'ts'"></code></pre>
    } @else {
      <code class="hljs inline-code">{{ node.value }}</code>
    }
  </ng-container>

  <ol *cfRichTextNode="BLOCKS.OL_LIST; let node = node">
    <ng-container [cfRichTextChildren]="node" />
  </ol>

  <ul *cfRichTextNode="BLOCKS.UL_LIST; let node = node">
    <ng-container [cfRichTextChildren]="node" />
  </ul>

  <div
    class="blog-post"
    *cfRichTextNode="BLOCKS.EMBEDDED_ENTRY; let node = node"
    >
    <img
      class="blog-post-image"
      [src]="node.data.target.fields.image.fields.file.url"
      [alt]="node.data.target.fields.image.fields.description"
      />
    <span class="blog-post-title">{{ node.data.target.fields.title }}</span>
    <span class="blog-post-description">{{
      node.data.target.fields.description
    }}</span>
    <img
      class="blog-post-author-avatar"
      [src]="node.data.target.fields.author.fields.photo.fields.file.url"
      [alt]="node.data.target.fields.author.fields.photo.fields.description"
      />
    <span class="blog-post-author-name">{{
      node.data.target.fields.author.fields.firstName +
      ' ' +
      node.data.target.fields.author.fields.lastName
    }}</span>
  </div>

</div>
